resources:
- ../../base
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: ghcr.io/harris-consult/schoolrider-app
  newName: ghcr.io/harris-consult/schoolrider-app
  newTag: c7c674b3b96542a7a9ac6c4ac8e36298a1862beb
