resources:
- ../../base
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: ghcr.io/harris-consult/schoolrider-api
  newName: ghcr.io/harris-consult/schoolrider-api
  newTag: 89a9f9c8b7ad30128f128eaf1d8d383eb51f864d
